<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">What</h2>
        <h3 class="section-subheading text-muted">
          What we do here.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">English</h4>
        <p class="text-muted">
          Toastmaster is the place your can practice your oral English.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Speech</h4>
        <p class="text-muted">
          Give presentations with or without slides, on ANY topic you like.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Friend</h4>
        <p class="text-muted">
          We have special break time for networking. Meet the people you will
          love and get connected.
        </p>
      </div>
    </div>
  </div>
</section>
